company-research-automation.json
{
  "name": "企業分析_新_開発中",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        512
      ],
      "id": "e82849d2-90be-4f63-8acc-1b2c32dff86b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        0,
        640
      ],
      "id": "5936a0e9-fbf2-4301-856b-ba495cae8d96",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "【私のガクチカ（ベースとなるエピソード）】\n（ここにあなた自身のガクチカ・自己PRエピソードを記入してください）\n\n【私の特徴・志向】\n（あなたの強み・興味関心を箇条書きで記入してください）\n\nーーーーーーーーーーーーーーーーーーーーーーーー\n【依頼】\n\nあなたは優秀な就職活動のコンサルタントです。\n\n上記の私のガクチカと特徴・志向をふまえ、相性の良い企業をちょうど5社、厳選して提案してください。\n\n今までの提案とは絶対に被らないようにしてください。\n【探してほしい企業の条件】\n\n・BtoB（企業向け）ビジネスで高いシェアを持っている企業、または独自の技術力や強みがあり成長が見込めるIT・メーカー・サービス企業\n\n・誰もが知る超大手ばかりでなく、「知る人ぞ知る隠れた優良企業」も積極的に含めること\n\n各企業について、企業名（kigyou）、推薦理由（riyuu）、証券コード（secCode／4桁の数字。上場企業のみ、未上場企業は空文字）を出力してください。",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        512
      ],
      "id": "1b16a84c-1eb8-4e87-91aa-f538be0ba87b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"kigyou_list\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"kigyou\": { \"type\": \"string\" },\n          \"riyuu\": { \"type\": \"string\" },\n          \"secCode\": { \"type\": \"string\", \"description\": \"その企業の証券コード（4桁）。未上場なら空文字\" }\n        },\n        \"required\": [\"kigyou\", \"riyuu\", \"secCode\"]\n      }\n    }\n  },\n  \"required\": [\"kigyou_list\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        640
      ],
      "id": "9f644b37-6476-4eeb-b5f4-2fef3a40d808",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "query": "={{ $('Split Out').item.json.kigyou }} 採用 年収 評判",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        704,
        528
      ],
      "id": "04351cd2-52e0-4ac7-83a3-8b4f0ce4b43e",
      "name": "Search",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "tavilyApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=あなたは優秀な就活アナリストです。\n以下の企業について、Web検索で得た情報をもとに分析してください。\n\n【企業名】\n{{ $('Split Out').item.json.kigyou }}\n\n【検索で得た情報】\n{{ $json.results[0].content }}\n\n以下の4項目で分析してください。\n- hyoka：評判・強みの要約（800字程度）\n- nenshu：平均年収・初任給などの給与情報\n- kyujitsu：年間休日・残業・有給などの労働環境\n- biko：福利厚生・勤務地など特記事項\n\nまた、以下の私の志向に対する適合度を10点満点で採点してください。\n【評価基準】\n① 上流工程（要件定義・課題分析）に関われる\n② AI活用に積極的\n③ 研修・育成が手厚い\n④ 若手に裁量がある\n\n- score：上記を総合した適合度（1〜10の整数）\n- score_riyuu：その点数にした根拠（150字以内）",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        512,
        736
      ],
      "id": "7ce916ce-472e-4333-8845-be90ed702c51",
      "name": "Basic LLM Chain1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-7",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.7"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        512,
        864
      ],
      "id": "83c5c360-d632-47e9-a787-c18fd68a2d72",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"hyoka\": { \"type\": \"string\", \"description\": \"企業の評判・強みの要約（800字程度）\" },\n    \"nenshu\": { \"type\": \"string\", \"description\": \"平均年収・初任給などの給与情報\" },\n    \"kyujitsu\": { \"type\": \"string\", \"description\": \"年間休日・残業・有給などの労働環境\" },\n    \"biko\": { \"type\": \"string\", \"description\": \"福利厚生・勤務地など特記事項\" },\n    \"score\": { \"type\": \"number\", \"description\": \"私との適合度を1〜10の整数で\" },\n    \"score_riyuu\": { \"type\": \"string\", \"description\": \"そのスコアにした根拠を150字以内で\" }\n  },\n  \"required\": [\"hyoka\", \"nenshu\", \"kyujitsu\", \"biko\", \"score\", \"score_riyuu\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        864
      ],
      "id": "907e2dc9-32cf-4906-afca-ccb7b9742bc8",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.kigyou_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        288,
        512
      ],
      "id": "b7513ea5-7b91-432b-93a9-7b435bf3f3a7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        512
      ],
      "id": "cf29ffa3-8a88-4b1c-8ba7-0a781f15086b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "シート1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "kaisha": "={{ $('Split Out').item.json.kigyou }}",
            "riyuu": "={{ $('Split Out').item.json.riyuu }}",
            "hyoka": "={{ $json.output.hyoka }}",
            "nenshu": "={{ $json.output.nenshu }}",
            "kyujitsu": "={{ $json.output.kyujitsu }}",
            "biko": "={{ $json.output.biko }}",
            "updated_at": "={{ $now.toISO() }}",
            "score": "={{ $json.output.score }}",
            "score_riyuu": "={{ $json.output.score_riyuu }}"
          },
          "matchingColumns": [
            "kaisha"
          ],
          "schema": [
            {
              "id": "kaisha",
              "displayName": "kaisha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "riyuu",
              "displayName": "riyuu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hyoka",
              "displayName": "hyoka",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nenshu",
              "displayName": "nenshu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyujitsu",
              "displayName": "kyujitsu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "biko",
              "displayName": "biko",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_riyuu",
              "displayName": "score_riyuu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ir_nenshu",
              "displayName": "ir_nenshu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ir_summary",
              "displayName": "ir_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        928
      ],
      "id": "784bb8bd-5d33-4879-94f2-5561f0512092",
      "name": "Append or update row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "552c6773-86b3-4e27-8d54-ad6f48fa0dc9",
              "leftValue": "={{ $('Split Out').item.json.secCode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        736
      ],
      "id": "6b42d756-b1fc-4e71-bf62-246bacac2b33",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wZfuXzigoUfpMT4X",
          "mode": "list",
          "cachedResultUrl": "/workflow/wZfuXzigoUfpMT4X",
          "cachedResultName": "IR分析_開発中"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "secCode": "={{ $('Split Out').item.json.secCode }}"
          },
          "matchingColumns": [
            "secCode"
          ],
          "schema": [
            {
              "id": "secCode",
              "displayName": "secCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        720
      ],
      "id": "4ba9200b-4392-4568-a54a-7a40ca7cbd1f",
      "name": "Call 'IR分析_開発中'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5998d87-1121-454b-b38d-68da4bc96dfc",
              "name": "ir_nenshu",
              "value": "未上場のため有報なし",
              "type": "string"
            },
            {
              "id": "0bda5da9-653c-43ca-afeb-0d8503410ea5",
              "name": "ir_summary",
              "value": "（公開情報なし）",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        864
      ],
      "id": "2de85290-683b-4889-a32e-ec37bc31cce8",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        880
      ],
      "id": "8aead97c-424b-42b6-8477-ec2585a386b8",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'IR分析_開発中'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'IR分析_開発中'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "1l7wcVfiBiNRhcdE",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0bf49606-e9c7-4568-bc69-77ef304c94d6",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "gEUNQYi9T7OSaJEg",
  "tags": []
}
